In [ ]:
####### In Python, branching is done using the if statement, which is written as follows:

if condition:
    statement1
    statement2

The condition can either be a variable or an expression. 
if the condition evaluates to True, then the statements within the if block are executed. 
Note the 4 spaces before statement1, statement2. 
The spaces inform Python that these statements are associated with the if statement above. 
This technique of structuring code by adding spaces is called indentation.
Python relies heavily on indentation(white space before a statement) to define structure in code. 
This makes Python code easy to read and understand but you can run into problems if you don't use indentation properly. 
Indent your code by placing the cursor at the start of the line and pressing the Tab key once to add 4 spaces. 
Pressing Tab again will indent the code further by 4 more spaces and press shift + Tab will reduce the indentation by 4 spaces.

##### Note that we are using the modulus operator % to find the remainder from the division of a_number by 2, and then we are using the comparison operator == check if the reminder is 0, indicating that the number is divisible by 2 i.e it is even.
since the number 34 is indeed divisible by 2 the expression a_number % 2 == 0 evaluates to True, so the print statement under the if statement is executed. Also note that we are using the string format method to include the number within the message.

In [1]:
a_number = 32

In [2]:
if a_number % 2 == 0:
    print("we are inside the if block")

we are inside the if block

In [12]:
a_indices = 20

In [13]:
if a_indices % 4 == 0:
    print('The given number {} is even.'.format(a_indices))

The given number 20 is even.

In [14]:
rabbit = 34

In [15]:
if rabbit % 2 == 0:
    print("rabbit castle")

rabbit castle

In [22]:
tango = 32

In [23]:
if tango % 2 == 0:
    print('The given number {} is even'.format(tango))

The given number 32 is even

###### The else statement
it would be nice to print a different method if the number is not even in the above example.
this can be done by adding the else statement. it is written as follows:

if condition:
    statement1
    statement2
else:
    statement4
    statement5
if the condition evaluates to True, the statement in the if block are executed,
and if it is False, the statements in the else block will be executed.

In [26]:
antelope = 34

In [27]:
if antelope % 2 == 0:
    print('The given number {} is even.'.format(antelope))
else:
    print('The given number {} is odd.'.format(antelope))

The given number 34 is even.

In [ ]:
#### Here is another example

In [28]:
kittens = ('bob','ray','jack','lemonade','jerry','tom')

In [38]:
a_bug = "tom"

In [39]:
if a_bug in kittens:
    print("{} is a kitten.".format(a_bug))
else:
    print("{} is not a kitten.".format(a_bug))

tom is a kitten.

In [40]:
fancy = ('ring','watch','mobile','glasses','aldo')

In [43]:
fency_maker = "phone"

In [44]:
if fency_maker in fancy:
    print("{} classic.".format(fency_maker))
else:
    print("{} it is not a classic.".format(fency_maker))

phone it is not a classic.

In [45]:
honey_bee = ('pearl','lemon','dusk','tik')

In [48]:
a_bee = "luck"

In [49]:
if a_bee in honey_bee:
    print("{} natural honey.".format(a_bee))
else:
    print("{} sunshine nutrition.".format(a_bee))

luck sunshine nutrition.

In [50]:
iron_man = ('roy','jones','arnod','raymond')

In [53]:
a_actors = "adeola"

In [55]:
if a_actors in iron_man:
    print("{} supporting actor in iron man movie.".format(a_actors))
else:
    print("{} is not part of the film maker.".format(a_actors))

adeola is not part of the film maker.

In [56]:
a_m3g = ('panda','bear','kangaro','teddy')

In [59]:
fav_toy = "tiger"

In [61]:
if fav_toy in a_m3g:
    print("{} is my favorite toy.".format(fav_toy))
else:print("{} is not my type.".format(fav_toy))

tiger is not my type.

##### The elif statement

Python also provides an elif statement(short for "else if"), to chain a series of conditional blocks.
The conditions are evaluated one by one. For the first condition that evaluates to True.
The statements in the respective block are executed and the remaining conditions are not evaluated.
So, in a chain of if, elif, elif... statements is exactly one conditional block is evaluated.

In [22]:
today = 'hallowing'

In [23]:
if today == 'sunday':
    print("Today is bright and shine.")
elif today == 'tuesday':
    print("Today is the brightest day ever")
elif today == 'monday':
    print("Today's moonlight is awesome")
elif today == 'wednesday':
    print("is a remarkable day")
elif today == 'thursday':
    print("Today is the day")
elif today == 'friday':
    print("it is the best day of the week")
elif today == 'saturday':
    print("Today is happy day")
else:
    print('All checks failed!')

All checks failed!

In [24]:
a_number = 32

In [25]:
if a_number % 2 == 0:
    print('{} is divisible by 2.'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3.'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5.'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7.'.format(a_number))

32 is divisible by 2.

###### Using if, elif and else together.

You can also include else statement at the end of a chain of if, elif.. statements.
This code within the else block are evaluated when none of the conditions hold true

In [10]:
a_number = 73

In [11]:
if a_number % 2 == 0:
    print('{} is divisible by 2.'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3.'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5.'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7.'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2,3,5,7.'.format(a_number))

All checks failed!
73 is not divisible by 2,3,5,7.

In [12]:
b_numeric = 69

In [14]:
if b_numeric % 2 == 0:
    print('{} is divisible by 2.'.format(b_numeric))
elif b_numeric % 3 == 0:
    print('{} is divisible by 3.'.format(b_numeric))
elif b_numeric % 5 == 0:
    print('{} is divisible by 5.'.format(b_numeric))
elif b_numeric % 7 == 0:
    print('{} is divisible by 7.'. format(b_numeric))
else:
    
    print('All checks failed!')
    print('{} is not divisible by 2,3,5,7.'.format(b_numeric))

69 is divisible by 3.

##### condition can also combined using the logical operators such as and, or, not.

In [34]:
a_value = 9

In [35]:
if a_value % 3 == 0 and a_value % 5 == 0:
    print("The number {} is divisible by 3 and 5.".format(a_value))
elif not a_value % 5 == 0:
    print("The number {} is not divisible by 5.".format(a_value))

The number 9 is not divisible by 5.

##### Non-Boolean Condtions
Note that conditions do not necessarily have to be booleans. In fact, a condition can be any value.
The value is converted into a boolean automatically using the bool operator. 
This means that falsy values like 0, ' ', { }, [ ] evaluate to False and all other evaluate to True.

In [39]:
if '':
    print('The condition evaluated to True')
else:
    print('The condition evaluated to Flase')

The condition evaluated to Flase

In [41]:
if 'Hello':
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to True

In [42]:
if 'None':
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to True

In [ ]:
if my_list:
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

In [ ]:
if{'a': 3}:
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

##### Nested conditional statements
The code inside an if block can also include an if statement inside it. 
This pattern called nesting and is used when you need to check for another condition after a certain condition is evaluated as true.

In [43]:
a_number = 15

In [45]:
if a_number % 2 == 0:
    print('{} is even number.'.format(a_number))
    if a_number % 3 == 0:
        print('{} is also divisible by 3.'.format(a_number))
    else:
        print('{} is not divisible by 3.'.format(a_number))
else:
    print('{} is odd number.'.format(a_number))
    if a_number % 5 == 0:
        print('{} is also divisible by 5.'.format(a_number))
    else:
        print('{} is not divisible by 5.'.format(a_number))

15 is odd number.
15 is also divisible by 5.

#### Nested if, else statements are often confusing to read and prone to human error. it's a good idea to avoid nesting whenever possible or limit the nesting to 1 or 2 levels.

##### shorthand if conditional expression
A common use case of the if statement involves testing a condition and setting the value of a variable on the condition.

In [21]:
a_number = 13

if a_number % 2 == 0:
    parity = 'even'
else:
    parity = 'old'
    print('The number {} is {}.'.format(a_number, parity))

The number 13 is old.

##### Python provides a shorter syntax, which allows writing such conditions in a single line of code.
it is known as conditional expression, sometimes also referred to as a ternary operator. it has the following syntax.

##### iteration with while loops
it is the ability to run one or more statements multiple times.
This feature is often referred to as iteration on looping.
There are two ways to do this in Python:
using while loops and for loops.

Example: calculate the factorial of 100 using while loop.
The factorial of a number n is defined as the product or multiplication of all the numbers from 1 to n  i.e 1*2*3*.......(n-2)*(n-1)*n

In [3]:
a_nswer = 1
i = 1
while i <= 100:
    a_nswer = a_nswer * i
    i = i + 1

print('The factorial of 100 is: {}'.format(a_nswer))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [4]:
fact = 1
i = 1
while i <= 100:
    fact = fact * i
    i = i+1
print('The factorial of 100 is: {}'.format(fact))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [7]:
finder = 1
i = 1

while i <= 100:
    finder = finder * i
    i = i+1

print('The factorial 100 is:{}'.format(finder))

The factorial 100 is:93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [2]:
%%time

big_fat = 1
i = 1

while i<=100:
    big_fat = big_fat * i
    i = i + 1
print('The factorial is:{}.'.format(big_fat))

The factorial is:93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000.
CPU times: total: 15.6 ms
Wall time: 997 Âµs

In [23]:
line = '*'
max_length = 10

while len(line) <= max_length:
    
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [8]:
line = 5
mini_length = '*'

while len(mini_length) <= line:
    
    print(mini_length)
    
    mini_length += "*"

*
**
***
****
*****

###### Assignment pending

In [7]:
result = '*'
max_index = 10

while len(result) <= max_index:
    result *= i
    print(result)
    i += 1

*******
********************************************************

##### Infinite loops
if the condition in a while loop always holds true, then Python repeatedly executes the code within the loop forever and the execution of the code never completes. 
this situation called an infinite loop and it generally indicates that there is a mistake in your code.

if your code is stuck in an infinite loop during execution, just press the "stop" button from the toolbar(next to "Run")
or select kernel --- interrupt from the jupyter menu bar

In [4]:
result = 1      ##### please don't run this code and if you have to run it. press stop button immidiately
i = 1
while i <= 100:
    result = result * i

KeyboardInterrupt:

In [ ]:
####### continue and breaking .....

In [6]:
i = 1
result = 1

while i <= 100:
    result = result * i
    if i == 42:
        print('magic number 42 reached! stop executing..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

magic number 42 reached! stop executing..
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [8]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('skipping {}'.format(i))
        continue
    print('multiplying with {}'.format(i))
    result = result * i

print('i:', i )
print('result:', result)

skipping 2
multiplying with 3
skipping 4
multiplying with 5
skipping 6
multiplying with 7
skipping 8
multiplying with 9
skipping 10
multiplying with 11
skipping 12
multiplying with 13
skipping 14
multiplying with 15
skipping 16
multiplying with 17
skipping 18
multiplying with 19
skipping 20
i: 20
result: 654729075

#### iteration with for loops
A for loop is used for iterating or looping over sequences i.e lists, tuples, dictionaries, strings and ranges.

The statements within the loop are executed once for each element in sequence.

In [9]:
days = ['Monday','Tuesday','Wednesday','Thursday','Friday']

In [11]:
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [12]:
fruits = ['Apple','Mango','Avocado','Pear','Grapes']

In [13]:
for fruit in fruits:
    print(fruit)

Apple
Mango
Avocado
Pear
Grapes

In [14]:
vegetables = ['Carrot','Watermelon','Onions','Pawpaw','lemon']

In [15]:
for vegetable in vegetables:
    print(vegetable)

Carrot
Watermelon
Onions
Pawpaw
lemon

In [ ]:
#### looping over a string

In [17]:
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [ ]:
##### looping over a tuple

In [20]:
for fruit in ['Apple','Mango','Avocado','Pear','Grapes']:
    print("Here's a fruit", fruit)

Here's a fruit Apple
Here's a fruit Mango
Here's a fruit Avocado
Here's a fruit Pear
Here's a fruit Grapes

In [21]:
vegetables

['Carrot', 'Watermelon', 'Onions', 'Pawpaw', 'lemon']

In [24]:
for vegetable in ['Carrot','Watermelon','Onions','Pawpaw','lemon']:
    print("Here's a vegetable", vegetable)

Here's a vegetable Carrot
Here's a vegetable Watermelon
Here's a vegetable Onions
Here's a vegetable Pawpaw
Here's a vegetable lemon

In [25]:
vehicles = ['honda','toyota','nissa','masarati','tesla']

In [28]:
for vehicle in ['honda','toyota','nissa','masarati','tesla']:
    print("it's luxury car", vehicle)

it's luxury car honda
it's luxury car toyota
it's luxury car nissa
it's luxury car masarati
it's luxury car tesla

In [ ]:
##### looping over dictionary

In [31]:
person = {'Name':'John',
          'Sex' :'Male',
          'Age' :'Adult',
       'Married':'True'
    
}


for key in person:
    print("key:", key, ",",  "value:", person[key])

key: Name , value: John
key: Sex , value: Male
key: Age , value: Adult
key: Married , value: True

In [34]:
employee = {'Name':'Sarah',
            'Gender':'Female',
            'Age':'Adolescent',
            'Division':'Sales',
            'DOJ':'13th Oct 23',
            'Married':'False'
}


for key in employee:
    print("key:", key, ",", "value:", employee[key])

key: Name , value: Sarah
key: Gender , value: Female
key: Age , value: Adolescent
key: Division , value: Sales
key: DOJ , value: 13th Oct 23
key: Married , value: False

######## Note that while using a dictionary with a for loop, the iteration happens over keys within the dictionary. The key can be used within the loop to access the value.
You can also iterate directly over the values using the .values method of the dictionary or over key-value pairs using the .items method.

In [35]:
for value in person.values():
    print(value)

John
Male
Adult
True

In [36]:
for value in employee.values():
    print(value)

Sarah
Female
Adolescent
Sales
13th Oct 23
False

###### key-value pairs using the .items method.

In [37]:
for key_value in person.items():
    print(key_value)

('Name', 'John')
('Sex', 'Male')
('Age', 'Adult')
('Married', 'True')

In [38]:
for key_value in employee.items():
    print(key_value)

('Name', 'Sarah')
('Gender', 'Female')
('Age', 'Adolescent')
('Division', 'Sales')
('DOJ', '13th Oct 23')
('Married', 'False')

###### since a key_value pair is tuple, key and value can also be extracted in seperate variables

In [39]:
for key,value in person.items():
    print("key:", key, ",", "value:", value)

key: Name , value: John
key: Sex , value: Male
key: Age , value: Adult
key: Married , value: True

In [40]:
for key,value in employee.items():
    print("key:", key, ",", "value:", value)

key: Name , value: Sarah
key: Gender , value: Female
key: Age , value: Adolescent
key: Division , value: Sales
key: DOJ , value: 13th Oct 23
key: Married , value: False

##### iterating using range and enumerate.
The range function is used to create a sequence of numbers that can be iterated over using a for loop.
it can be used in three ways:

In [42]:
#### this method print from 0 to n-1

for i in range (7):
    print(i)

0
1
2
3
4
5
6

In [43]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

###### you can also specify start index and end index

In [45]:
#### this method print from specify index n to end index n-1
for i in range(3,7):
    print(i)

3
4
5
6

In [46]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

##### this method print from specify index n, to end index, n-1 and step i.e if you want specific number interval

In [49]:
for i in range(2,12,2):
    print(i)

2
4
6
8
10

####### Range are used for iteration over lists, when you need to track the index of elements while iterating.

In [52]:
a_list = ['Monday','Tuesday','Wednesday','Thursday','Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i,a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

In [53]:
vegetables

['Carrot', 'Watermelon', 'Onions', 'Pawpaw', 'lemon']

In [55]:
for i in range(len(vegetables)):
    print('Healthy vegetables at the age {} is {}.'.format(i,vegetables,[i]))

Healthy vegetables at the age 0 is ['Carrot', 'Watermelon', 'Onions', 'Pawpaw', 'lemon'].
Healthy vegetables at the age 1 is ['Carrot', 'Watermelon', 'Onions', 'Pawpaw', 'lemon'].
Healthy vegetables at the age 2 is ['Carrot', 'Watermelon', 'Onions', 'Pawpaw', 'lemon'].
Healthy vegetables at the age 3 is ['Carrot', 'Watermelon', 'Onions', 'Pawpaw', 'lemon'].
Healthy vegetables at the age 4 is ['Carrot', 'Watermelon', 'Onions', 'Pawpaw', 'lemon'].

In [65]:
for i in range(len(vehicles)):
    print('Recommended luxury cars for age {} is {}.'.format(i,vehicles,[i]))

Recommended luxury cars for age 0 is ['honda', 'toyota', 'nissa', 'masarati', 'tesla'].
Recommended luxury cars for age 1 is ['honda', 'toyota', 'nissa', 'masarati', 'tesla'].
Recommended luxury cars for age 2 is ['honda', 'toyota', 'nissa', 'masarati', 'tesla'].
Recommended luxury cars for age 3 is ['honda', 'toyota', 'nissa', 'masarati', 'tesla'].
Recommended luxury cars for age 4 is ['honda', 'toyota', 'nissa', 'masarati', 'tesla'].

In [66]:
for i in range(len(days)):
    print('The awesome days of the week {} is {}'.format(i,days[i]))

The awesome days of the week 0 is Monday
The awesome days of the week 1 is Tuesday
The awesome days of the week 2 is Wednesday
The awesome days of the week 3 is Thursday
The awesome days of the week 4 is Friday

##### Another way to achieve the same result as above is using the enumerate function with a_list as an input which returns tuple containing index and the corresponding element.

###### Nested for and while loops
Similar to conditional statements, loops can be nested inside other loops. This is useful for looping over each element in a list of lists, a list of dictionaries

In [70]:
persons = [{'name':'jim','gender':'female'}],[{'name':'don','gender':'male'}],[{'name':'troy','gender':'male'}]

for person in persons:
    for key in person:
        print(key, ",", person[key])
    print(" ")

TypeError: list indices must be integers or slices, not dict

In [73]:
days = ['Monday','Tuesday','Wednesday','Thursday']
fruits = ['Apple','Mango','Guava']

for day in days:
    for fruit in fruits:
        print(day,fruit)

Monday Apple
Monday Mango
Monday Guava
Tuesday Apple
Tuesday Mango
Tuesday Guava
Wednesday Apple
Wednesday Mango
Wednesday Guava
Thursday Apple
Thursday Mango
Thursday Guava

###### break, continue and pass statements
Similar to while loops, for loops also support the break statement for breaking out of the loop and continue for skipping ahead to the next iteration.

In [74]:
weekdays = ['Monday','Tuesday','Wednesday','Thursday']

In [76]:
for day in weekdays:
    print('Today is {}'.format(day))
    if(day=='Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [79]:
for day in weekdays:
    if(day=='Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday

In [77]:
months = ['Rajab','Ramadan','Shahban','Rabiul-Awal']

In [84]:
for month in months:
    print('Month of blessing {}'.format(month))
    if(month =='Rabiul-Awal'):
        print("These are the months of blessing")
        break

Month of blessing Rajab
Month of blessing Ramadan
Month of blessing Shahban
Month of blessing Rabiul-Awal
These are the months of blessing

In [82]:
for month in months:
    if(month =='Ramadan'):
        print("Ramadan is the month of forgiveness")
        continue
    print('Month of blessing {}'.format(month))

Month of blessing Rajab
Ramadan is the month of forgiveness
Month of blessing Shahban
Month of blessing Rabiul-Awal

In [ ]:
###### CREATING AND USING FUNCTIONS

In [5]:
def greetings(name):
    print('How may I help you {}'.format(name))
    print('We are here to make you happy {}'.format(name))

In [10]:
greetings("Abdullah")

How may I help you Abdullah
We are here to make you happy Abdullah

In [11]:
greetings("Muhammad")

How may I help you Muhammad
We are here to make you happy Muhammad

In [12]:
def salam(name):
    print('Salam Aleakun {}'.format(name))
    print('Peace be on to you {}'. format(name))

In [13]:
salam("Abdulrahman")

Salam Aleakun Abdulrahman
Peace be on to you Abdulrahman

In [14]:
salam("Abdullah")

Salam Aleakun Abdullah
Peace be on to you Abdullah

In [29]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [30]:
even_list = filter_even([1,2,3,4,5,6,7,8,9])

In [31]:
even_list

[2, 4, 6, 8]

In [41]:
def filter_odd(number_list):
    result_list = []
    for number in number_list:
        if number % 3 == 0:
            result_list.append(number)
    return return_list

In [42]:
odd_list = filter_odd([1,2,3,4,5,6,7,8,9])

NameError: name 'return_list' is not defined

####### Radha is planning to buy a house that costs $1,260,000.
She considering two options to finance her purchase:

Option 1: Make an immediate down payment of $300,000 and take loan 8-years loan with an interest rate of 10% per annum(compounded monthly)
for the remaining amount.

Option 2: Take a 10-year loan with an interest rate of 8% per annum (compounded monthly)
for the entire amount.

Both these loans have to paid back in equal monthly installments(EMIs)
Which loan has a lower EMI among the two?

Since we need to compare the EMIs for two loan options, it might be helpful to define a function
to calculate the EMI for a loan, given inputs like the cost of the house, the down payment, duration of the loan,
rate of interest etc.

In [17]:
def loan_emi(amount):
    emi = amount / 12
    print('The EMI is ${}'.format(emi))

In [18]:
loan_emi(1.26e6)  ##### the output is the amount you have to pay per month

The EMI is $105000.0

###### local variables and scope. lets add the second argument to account for the duration of loan in months

In [19]:
def loan_emi(amount, duration):
    emi = amount / duration
    print('The EMI is ${}'.format(emi))

#### Note that the variable emi defined inside the function is not accessible outside the function.
Also the parameters amount and duration. These are local variables
that lie within the scope of the function.(def)

In [ ]:
##### we can now compare 8 years loan vs 10 years loan(assuming no down payment and interest)

In [60]:
loan_emi(1260000, 10*12)

The EMI is $10500.0

In [61]:
loan_emi(1260000, 8*12)

The EMI is $13125.0

###### Return values
As you can see, the EMI for 8-year loan is higher compared to the 10-year loan.
it would be better to return it and store the results in variables for easier comparison.
return statement will be using.

In [20]:
def loan_emi(amount,duration):
    emi = amount / duration
    return emi

In [21]:
emi1 = loan_emi(1260000, 8*12)

In [22]:
emi1

13125.0

In [23]:
emi2 = loan_emi(1260000, 10*12)

In [24]:
emi2

10500.0

In [25]:
emi1 - emi2

2625.0

###### Optional arguments
Let's now add another argument to account for the immediate down payment.
We will make it optional argument, with a default value of 0 because first option have down payment and second option do not have

In [26]:
def loan_emi(amount, duration, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount / duration
    return emi

In [27]:
emi1 = loan_emi(1260000, 8*12, 3e5)

In [28]:
emi1

10000.0

In [29]:
emi2 = loan_emi(1.26e6, 10*12)

In [30]:
emi2

10500.0

In [ ]:
###### Next, let's add the interest calculation into the function. here is the formula used to calculate the EMI for a loan:
EMI = P X r X (1 + r) raised to power n / (1 + r)power n - 1

where P is the loan amount (principal)
           n is the no. of months
           r is the rate of interest per month

In [23]:
def loan_emi(amount,rate,duration,down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    return emi

In [24]:
##### Calculate the EMI for option 1, we need to include down_payment
loan_emi(1260000, 8*12, 0.1/12, 3e5)

2463836970.940042

##### Note that while defining the function, required arguments like cost, duration and rate must appear before optional arguments like down_payment

In [25]:
##### while calculating the EMI for option 2, we need not to include down_payment

loan_emi(1.26e6, 10*12, 0.08/12)

4805150158.293757

In [ ]:
####### Named arguments: invoking a function with many arguments can often get confusing and is prone
to human errors.
Python provides the option of invoking functions with named arguments, for better clarity.
Function invocation can also be split into multiple lines

In [26]:
emi1 = loan_emi(amount = 1260000,
                duration = 8*12,
                rate = 0.1/12,
                down_payment = 300000



)

In [27]:
emi1

14567.19753389219

In [30]:
emi2 = loan_emi(amount=1260000,duration=10*12,rate=0.08/12)

In [31]:
emi2

15287.276888775077

##### modules and library functions
Modules are files containing Python code(variables,functions,classes e.t.c)
They provide a way of organizing the code for large Python projects into files and folders.
The benefit offered by modules is namespaces. a module or a specific function/class/variable from a module has to be imported before 
it can be used within a Python script or notebook.
For rounding up our EMI amounts, ceil function can be used from the math module.
Example round up 1.2

In [10]:
import math

In [11]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [12]:
math.ceil(1.2)

2

In [13]:
math.ceil(4.5)

5

In [32]:
def loan_emi(amount,rate,duration,down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [33]:
emi1 = loan_emi(amount = 1260000,
                duration = 8*12,
                rate = 0.1/12,
                down_payment = 300000



)

In [34]:
emi1

14568

In [35]:
emi2 = loan_emi(amount=1260000,duration=10*12,rate=0.08/12)

In [36]:
emi2

15288

####### Let's compare the EMIs and display a message for the option with the lower EMI.

In [40]:
if emi1 < emi2:
    print("option 1 has lower EMI: ${}".format(emi1))
else:
    print("option 2 has lower EMI: ${}".format(emi2))

option 1 has lower EMI: $14568

###### Reusing and improving functions

In [ ]:
Q: Tola is currently paying back a home loan for a house a few years ago.
The cost of the house was $800000. Tola made a down payment of 25% of the cost and financed the remaining
amount using 6-year loan with an interest rate of 7% per annum(compounded monthly).
Tola is now buying a car worth $60000, which he is planning to finance using a 1-year loan with an interest rate of 12% per annum.
Both loans are paid back in EMIs.
What is the total monthly payment Tola makes towards loan repayment.

In [ ]:
cost_of_house = 800000
home_loan_duration = 6*12
home_loan_rate = 0.07/12
home_down_payment = 0.25*800000

In [ ]:
emi_house = loan_emi(cost_of_house,
                     home_loan_duration,
                     home_loan_rate,
                     home_down_payment

)

In [ ]:
cost_of_car = 60000
car_loan_duration = 1*12
car_loan_rate = 0.12/12

In [ ]:
emi_car = loan_emi(cost_of_car,
                   car_loan_duration,
                   car_loan_rate

)

In [41]:
emi1 = loan_emi(amount = 800000,
                duration = 6*12,
                rate = 0.07/12,
                down_payment = 0.25*8e5
)

In [42]:
emi1

10230

In [43]:
emi2 = loan_emi(amount = 60000,
                duration = 1*12,
                rate = 0.12/12,

)

In [44]:
emi2

5331

In [49]:
print("Tola makes a total monthly payment of ${} towards loan repayments".format(emi1 + emi2))

Tola makes a total monthly payment of $15561 towards loan repayments

In [55]:
def loan_emi(amount,rate,duration,down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

###### Q: If you borrow $100,000 using a 10-year loan with an interest rate of 9% per annum, what is the total amount you end up paying as interest?
One way to solve this problem is to compare the EMIs for two loans: one with the given rate of interest, and another with a 0% rate of interest.
The total interest paid is then simplify the sum of monthly differences over the duration of the loan.

In [56]:
emi_with_interest = loan_emi(amount=100000,duration=10*12,rate=0.09/12)

In [57]:
emi_with_interest

1267

###### When an exception occurs in the code inside a try block, the rest of the statements in the block are skipped and except statement is executed.

In [8]:
def loan_emi(amount,rate,duration,down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
        
    emi = math.ceil(emi)
    return emi

In [9]:
try:
    print("Now computing the result")
    result = 5/0
    print("Computing was completed successfully...")
except ZeroDivisionError:
    
    print("Failed to compute the result because you are trying to divide by zero")
    result = None
print(result)

Now computing the result
Failed to compute the result because you are trying to divide by zero
None

In [12]:
def loan_emi(amount,rate,duration,down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
        
    emi = math.ceil(emi)
    return emi

In [13]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0/12)

NameError: name 'math' is not defined

####### Documenting functions using Docstrings
We can add some documentation within our function using a docstring.
A docstring is simply a string that appears as the first statement within the function body.
A good docstring describes what the function does and provides some explanation
about the arguments.

In [14]:
def loan_emi(amount,rate,duration,down_payment=0):
    """Calculates the equal monthly installment (EMI) for a loan.

    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - optional initial payment (deducted from amount)
    """
    
    loan_amount = amount - down_payment
    try:
        emi = loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
        
    emi = math.ceil(emi)
    return emi

In [15]:
help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, rate, duration, down_payment=0)
    Calculates the equal monthly installment (EMI) for a loan.

    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - optional initial payment (deducted from amount)

In [ ]:
###### You are planning a leisure trip(vacation) and you need to decide which city you want to 
visit. You have shortlisted 4 cities and identified the cost of the return flight. daily hotel cost and a weekly
car rental cost( a car has to be rented for full weeks, even if you return the car before a week ends)

City    Return Flight($)  Hotel Per day($)               Weekly Car Rental($)

Paris      200                     20                             200
London     250                     30                             120
Dubai      370                     15                              80
Mumbai     450                     10                              70

1. If you are planning 1-week long trip, which city should you visit to spend the least
amount of money?
2.How does the answer to the previous questions change if you change the duration of the trip
to 4 days, 10 days or 2 weeks?
3. if your total budget for the trip is $1000, which city should you visit to maximize the duration
of your trip? which city should you visit to minimize the duration?
4. How does the answer to the previous question change if your budget
is $600, $2000 or $1500?

Hints: To answer these questions, it will help to define a function cost_of_trip with 
relevant inputs like flight cost, hotel rate, car rental rate and duration of the trip.
You may find the math.ceil function useful for calculating the cost of car rental.

In [ ]:
flight_cost=200,
hotel_rate=20*7,
car_rental_rate=200,
duration=7

In [10]:
import math

In [19]:
def cost_of_trip(flight_cost,hotel_rate,car_rental_rate,duration):
    trip = flight_cost*hotel_rate*((1+hotel_rate)**duration)/(((1+car_rental_rate)**duration)-1)
    trip = math.ceil(trip)
    return trip

In [20]:
paris_trip = cost_of_trip(flight_cost=200,
                         hotel_rate=20*7,
                         car_rental_rate=200,
                         duration=7
)

In [21]:
paris_trip

2341

In [22]:
london_trip = cost_of_trip(flight_cost=250,
                         hotel_rate=30*7,
                         car_rental_rate=120,
                         duration=7
)

In [23]:
london_trip

2574180

In [24]:
Dubai_trip = cost_of_trip(flight_cost=370,
                         hotel_rate=15*7,
                         car_rental_rate=80,
                         duration=7
)

In [25]:
Dubai_trip

255351

In [26]:
Mumbai_trip = cost_of_trip(flight_cost=450,
                         hotel_rate=10*7,
                         car_rental_rate=70,
                         duration=7
)

In [27]:
Mumbai_trip

31501

In [ ]:
######  change the duration of the trip to 4 days, 10 days or 2 weeks?

In [28]:
###### 4 days trip to paris
paris_trip = cost_of_trip(flight_cost=200,
                         hotel_rate=20*4,
                         car_rental_rate=200,
                         duration=4
)

In [29]:
paris_trip

422

In [30]:
###### 10 days trip to paris
paris_trip = cost_of_trip(flight_cost=200,
                         hotel_rate=20*10,
                         car_rental_rate=200,
                         duration=10
)

In [31]:
paris_trip

40000

In [32]:
#### 2 weeks trip to paris
paris_trip = cost_of_trip(flight_cost=200,
                         hotel_rate=20*14,
                         car_rental_rate=200,
                         duration=14
)

In [33]:
paris_trip

6100027