#### Storing information using variables. Computers are useful for two purposes, storing information and performing operations on stored information. While working with a programing language such as Python, information is stored in variables. You can think of variables as containers for storing data and the data stored within a variable is called it's value

In [20]:
my_favorite_color = "Purple"     ### make sure you run this code to jump to another cell, don't just move to another cell without executing this particular cell

In [21]:
my_favorite_color

'Purple'

In [12]:
color1, color2, color3, color4 = "Red","Blue", "Yellow","Pink"

In [13]:
color1

'Red'

In [14]:
color2

'Blue'

In [15]:
color3

'Yellow'

In [16]:
color4

'Pink'

In [50]:
color5 = color6 = color7 = color8 = "white"

In [51]:
color5

'white'

In [52]:
color6

'white'

In [53]:
color7

'white'

In [54]:
color8

'white'

#### while assigning a new value to a variable, you can also use the previous value of the variable to determine the new value.

In [22]:
counter = 10

In [23]:
counter = counter + 1

In [24]:
counter

11

#### The pattern var(variable) = var op(operator) something (where op is an arithmetic operator like +, -, *, / ) is very commonly used. Python provides a shorthand syntax for it.

In [25]:
counter = 10

In [26]:
counter += 4     ## is the same as counter = counter + 4

In [27]:
counter

14

##### Variable names can be short such as (a, x, y etc) or descriptive(my_favorite_color, profit_margin, the_3_musketeers etc.). However, you must follow these rules while naming Python variables.

##### A variable's name must start with a letter or the underscore character _. it cannot start with a number.
##### A variable name can only contain lowercase or uppercase letters, digits or underscores (a - z, A - Z, 0 - 9 and _)
##### Variable names are case sensitive i.e. a_variable, A_Variable and A_VARIABLE are all different variables.

In [32]:
### here are the valid examples of variables name

a_variable = 23

is_today_saturday = False

my_favorite_car = "Honda Civic"

the_3_musketers = ["panthos", "landos", "aramex"]

##### Built-in Data types in Python
*Any data or information stored within a Python variable has a type. The type of data stored within a variable can be checked using the type function*

In [34]:
a_variable

23

In [35]:
type(a_variable)

int

In [36]:
is_today_saturday

False

In [37]:
type(is_today_saturday)

bool

In [38]:
my_favorite_car

'Honda Civic'

In [39]:
type(my_favorite_car)

str

In [40]:
the_3_musketers

['panthos', 'landos', 'aramex']

In [41]:
type(the_3_musketers)

list

###### Python has several built-in data types for storing different types of information in variables.
Following are some commonly used data types:

**Integer, Float, Boolean, None, String, List, Tuple, Dictionary.
(Integer,float,boolean,none and string are primitive data types because they represent a single value while other data types such as list,tuplet and dictionary are often called data structures or containers because they hold multiple pieces of data together)**

###### Integers represent positive or negative whole numbers, from negative infinity to infinity. note integers should not include decimal points. Integers have the type int.

In [42]:
current_year = 2022

In [43]:
current_year

2022

In [44]:
type(current_year)

int

In [45]:
a_large_negative_number = -36478939087638930292892929387729292929292

In [46]:
a_large_negative_number

-36478939087638930292892929387729292929292

In [47]:
type(a_large_negative_number)

int

###### Floats(or floating point numbers) are numbers with a decimal point. There are no limits on the value of a float or the number of digits before or after the decimal point. floating point numbers have the type float. note that a whole number is treated as a float

In [55]:
a_number = 3.0

In [56]:
a_number

3.0

In [57]:
type(a_number)

float

In [58]:
pi = 3.14567892456314563145631

In [59]:
pi

3.145678924563146

In [60]:
type(pi)

float

In [61]:
another_number = 4.

In [62]:
another_number

4.0

In [63]:
type(another_number)

float

##### Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10
0.00001 is equivalent to 1e-5 (e-5 means 1 raise to power -5 which is the same as 0.0000)

In [64]:
one_hundredth = 1e-5

In [65]:
one_hundredth

1e-05

In [74]:
another_example = 1e-2

In [75]:
another_example

0.01

In [76]:
type(another_example)

float

In [77]:
another_exampl1 = 1e-4

In [79]:
another_exampl1

0.0001

In [80]:
try_this = 3e-4

In [81]:
try_this

0.0003

In [82]:
type(try_this)

float

In [83]:
avogadro_number = 6.022452115e23

In [85]:
avogadro_number

6.022452115e+23

In [86]:
type(avogadro_number)

float

##### Floats can be converted into integers and vice versa using the float and int functions. The operation of converting one type of value into another is called *casting*.

In [87]:
current_year

2022

In [88]:
float(current_year)

2022.0

In [91]:
a_large_negative_number

-25222224789121238712264892

In [92]:
float(a_large_negative_number)

-2.522222478912124e+25

In [93]:
pi

3.145678924563146

In [94]:
int(pi)

3

In [95]:
avogadro_number

6.022452115e+23

In [96]:
int(avogadro_number)

602245211499999984091136

In [97]:
another_number

4.0

In [98]:
int(another_number)

4

In [99]:
another_example

0.01

In [100]:
int(another_example)

0

In [101]:
another_exampl1

0.0001

In [102]:
int(another_exampl1)

0

##### While performing arithmetic operations, integers are automatically converted to floats if any of the operands is a float. Also, the division operator / always returns a float even if the both operands are integers. Use the // operator if you want the result of division to be an int.

In [103]:
type(45 * 3.0)

float

In [107]:
type(45 * 3)

int

In [104]:
type(10/3)

float

In [109]:
type(10/2)

float

In [110]:
type(10//3)

int

In [111]:
type(10//2)

int

#### Booleans represent one of 2 values: True and False. Booleans have the type bool

In [112]:
is_today_sunday = True

In [113]:
is_today_sunday

True

In [114]:
type(is_today_sunday)

bool

#### Booleans are generally returned as the result of a comparison operation(e.g. ==, >=   etc.)

In [115]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [116]:
is_ice_bag_expensive

False

In [117]:
type(is_ice_bag_expensive)

bool

#### Booleans are automatically converted to integers when used in arithmetic operations. True is converted to 1 and False is converted to 0

In [118]:
5 + False

5

In [119]:
5 + True

6

In [120]:
3. + True

4.0

#### Any value in Python can be converted to a Boolean using bool function. Only the following values evaluate to False (they are often called falsy values)
* The value False itself, *The integer 0, *The float 0.0, *The empty value None, *The empty set set(), *The empty tuple (), *The empty dictionary {}, *The empty text "", *The empty list [], *The empty range range(0)
#### Everything else evaluates to True (a value that evaluates to True is often called a truthy value)

In [121]:
bool(False)

False

In [122]:
bool(0)

False

In [123]:
bool(None)

False

In [124]:
bool({})

False

In [125]:
bool(range(0))

False

In [126]:
bool(set())

False

In [133]:
bool(True), bool(1), bool(2.0), bool((2,3)),bool([3,5]),bool((3,3)),bool({3,5}), bool(range(4,5)), bool("Becoming")

(True, True, True, True, True, True, True, True, True)

##### None: The None type includes a single value None, it is used to indicate the absence of a value. None has the type NoneType. it is often used to declare a variable whose value may be assigned later.

In [134]:
nothing = None

In [135]:
type(nothing)

NoneType

##### A String is used to represent text (a string of characters) in Python. Strings must be surrounded using quotations (either the single quote or double quote). Strings have the type str

In [136]:
today = "saturday"

In [137]:
today

'saturday'

In [138]:
type(today)

str

In [139]:
tomorrow = "is sunshine"

In [140]:
tomorrow

'is sunshine'

In [141]:
type(tomorrow)

str

##### You can use single qoutes inside a string written with double qoutes, and vice versa.

In [149]:
my_favorite_movie = "World of the titan's"

In [150]:
my_favorite_movie

"World of the titan's"

In [151]:
type(my_favorite_movie)

str

In [152]:
bool(my_favorite_movie)

True

#### using single qoutes inside a string written with single qoute.

In [153]:
my_favorite_surah = 'All verses\'s of Al-Quran'

In [154]:
my_favorite_surah

"All verses's of Al-Quran"

In [155]:
type(my_favorite_surah)

str

#### using double qoutes inside a string written with single qoute.

In [160]:
my_favorite_topic = 'Thanks for explaining "Numpy" in details, it is awesome'

In [157]:
my_favorite_topic

'Thanks for explaining "Numpy" in details, it is awesome'

#### To use a double qoute within a string written with double quotes, escape the inner qoutes by prefixing them with the \ character

In [165]:
remote_control = "The first time i saw remote control, i thought it was a \"toy"

In [164]:
remote_control

'The first time i saw remote control, i thought it was a "toy'

##### Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single qoutes '''  or three double qoutes """ to begin and end the string.
Line breaks are represented using the newline character \n .

In [166]:
Father_and_Son = '''Son:"Father can you take me to park?"
Father:"it is really hot outside."'''

In [167]:
Father_and_Son

'Son:"Father can you take me to park?"\nFather:"it is really hot outside."'

###### Multiline strings are best displayed using print function

In [168]:
print(Father_and_Son)

Son:"Father can you take me to park?"
Father:"it is really hot outside."

In [170]:
Tom_Jerry = """Tom:"Will you like to dance with me?"
Jerry:"Ofcourse, Why not my friend?"


"Oh there comes the bride and groom."
"""

In [171]:
Tom_Jerry

'Tom:"Will you like to dance with me?"\nJerry:"Ofcourse, Why not my friend?"\n\n\n"Oh there comes the bride and groom."\n'

In [172]:
print(Tom_Jerry)

Tom:"Will you like to dance with me?"
Jerry:"Ofcourse, Why not my friend?"


"Oh there comes the bride and groom."

##### You can check the length of a string using the len function.

In [173]:
len(my_favorite_movie)

20

In [174]:
len(Father_and_Son)

72

###### Note that special characters like \n and escaped characters like \" count as a single character, even though they are written and sometimes printed as 2 characters.

In [177]:
multiline_string ="""a
b"""
multiline_string

'a\nb'

In [178]:
multiline_string

'a\nb'

In [179]:
len(multiline_string)

3

###### A string can be converted into a list of characters using list function.

In [180]:
multiline_string

'a\nb'

In [181]:
list(multiline_string)

['a', '\n', 'b']

##### You can access individual characters within a string using the [ ] indexing notation. Note the character indices go from 0 to n-1, where n is the length of the string.

In [183]:
today = "saturday"

In [184]:
today[0]

's'

In [185]:
today[3]

'u'

In [186]:
today[7]

'y'

##### You can access a part of a string using by providing a start:end range instead of a single index in [ ]

In [189]:
today[5:8]

'day'

In [190]:
tomorrow

'is sunshine'

In [191]:
tomorrow[3:11]

'sunshine'

In [192]:
my_favorite_movie

"World of the titan's"

In [193]:
my_favorite_movie[0:5]

'World'

###### You can also check wether a string contains some text using the in operator.

In [194]:
today

'saturday'

In [196]:
'day' in today

True

In [197]:
'sat' in today

True

In [198]:
'shine' in tomorrow

True

In [199]:
'sun' in tomorrow

True

In [200]:
'day' in tomorrow

False

In [201]:
'sun' in today

False

In [202]:
'shine' in today

False

##### Two or more strings can be joined or concatenated using the + operator. Sometimes you might need to add a space character " " between words

In [203]:
full_name = "Adeola Sotayo-Aro"

In [205]:
greetings = "Hello"

In [206]:
greetings + " " + full_name

'Hello Adeola Sotayo-Aro'

In [207]:
country = "New York"

In [208]:
greetings = "Hello"

In [209]:
greetings + " " + country

'Hello New York'

In [210]:
Introduction = "Introduce"

In [212]:
Personality = "Yourself"

In [213]:
Introduction + " " + Personality

'Introduce Yourself'

In [214]:
full_name = "Abdulrahman O. Olasupo"

In [215]:
Greetings = "Salam Alaikun"

In [217]:
Compliments = "You are looking great"

In [218]:
Greetings + " " + full_name + " " + Compliments

'Salam Alaikun Abdulrahman O. Olasupo You are looking great'

##### String in Python have many built-in methods that can be used to manipulate them. Here are some common string methods.

###### Methods are functions associated with data types, and are accessed using the . notation e.g variable_name.method() or "a string".method( )

##### Methods are a powerful technique for associating common operations with values of specific data types. The .lower(), .upper() and .capitalize() methods are used to change the case of the characters.

In [219]:
today

'saturday'

In [220]:
today.upper()

'SATURDAY'

In [221]:
tomorrow.upper()

'IS SUNSHINE'

In [222]:
"saturday".upper()

'SATURDAY'

In [223]:
"mother".upper()

'MOTHER'

In [224]:
"FATHER".lower()

'father'

In [225]:
"monday".capitalize()

'Monday'

In [226]:
today.capitalize()

'Saturday'

##### The .replace method is used to replace a part of the string with another string. it takes the portion to be replaced and the replacement text as inputs or arguments.

In [237]:
another_day = today.replace("satur", "remarkable """)

In [238]:
another_day

'remarkable day'

###### Note that a new string is returned, and the original string is not modified

In [239]:
some_day = today.replace("satur","wednes")

In [240]:
some_day

'wednesday'

In [241]:
today

'saturday'

###### The .split method can be used to split into a list of strings based using the characters provided.

In [245]:
"Sun,Mon,Tue,Wed,Thur,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat']

In [246]:
"Joseph;John;Joel;Jack".split(";")

['Joseph', 'John', 'Joel', 'Jack']

In [248]:
"Joseph:James:Jud".split(":")

['Joseph', 'James', 'Jud']

###### The .strip method is used to remove whitespace characters from the beginning and end of a string.

In [250]:
my_recipe = "                 I prefer to use palm oil for cooking                   "

In [254]:
my_recipe

'                 I prefer to use palm oil for cooking                   '

In [255]:
my_recipe = "                 I prefer to use palm oil for cooking                   ".strip()

In [256]:
my_recipe

'I prefer to use palm oil for cooking'

###### The .format method is used to combine values of other data types e.g. integers,floats,booleans,lists etc. with strings. it is often used to create output messages for display.

In [ ]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ { } per bag, with a profit margin of { } %, then the total profit it makes by selling { } ice bags is $ { }."""
print(output_template)

In [ ]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)                                      

If a grocery store sells ice bag at $1.25 per bag, with a profit margin of 20.0%, then the total profit it makes by selling 500 ice bags is $ 125.0

###### it is also possible to use the string concatenation operator + to combine strings with other values. however, those values must be first converted to strings using the str funtion.

Also the str function can be used to convert a value of any data type into a string.

In [270]:
total_profit = "Tell me about yourself" + " " + "and where you are leaving"

In [271]:
total_profit

'Tell me about yourself and where you are leaving'

In [272]:
str(15)

'15'

In [273]:
str(10.2)

'10.2'

In [274]:
str(total_profit)

'Tell me about yourself and where you are leaving'

In [276]:
str(cost_of_ice_bag)

'1.25'

In [277]:
str(True)

'True'

In [278]:
cat_type = ["smoothy cat","babilon cat","texas cat","local cat"]

In [279]:
str(cat_type)

"['smoothy cat', 'babilon cat', 'texas cat', 'local cat']"

##### Note that all string methods returns new values and DO NOT change the existing string.
String also support the comparision operators == and != for checking wether two strings are equal.
Also note that = is used to assign values or data type to variables and == $ != used for comparison

In [281]:
last_name = "rose"

In [282]:
last_name == "jose"

False

In [283]:
last_name != "james"

True

In [286]:
last_name =="rose"

True

##### We have looked at the primitive data types in Python and now we can explore non-primitive data structures or containers.

##### A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove and change values. Lists have the type list.
#### To create a list, you have to enclose a list of values within square brackets [ ] seperated by commas.

In [6]:
fruits = ['apple','berry','mango','carrot']

In [7]:
fruits

['apple', 'berry', 'mango', 'carrot']

In [289]:
type(fruits)

list

#### Creating a list containing values of different data types, including another list

In [8]:
a_list = ['Hello',23,None,fruits,3.14,3>=5,4!=5]

In [9]:
a_list

['Hello', 23, None, ['apple', 'berry', 'mango', 'carrot'], 3.14, False, True]

In [316]:
len(a_list)

7

In [295]:
empty_list = []

In [296]:
empty_list

[]

In [317]:
len(empty_list)

0

###### len function is use to determine the number of values in a list. len function can also be used to determine values in several other data types.

In [297]:
len(fruits)

4

In [298]:
print("Number of fruits:", len(fruits))

Number of fruits: 4

In [10]:
cars = ['civic','corola','toyota','bentley','hundai','chrysler']

In [11]:
cars

['civic', 'corola', 'toyota', 'bentley', 'hundai', 'chrysler']

In [305]:
len(cars)

6

In [303]:
type(cars)

list

In [304]:
print("Number of cars:", len(cars))

Number of cars: 6

In [312]:
my_favorite_movies = ['jack','jill','tom','jerry']

In [313]:
len(my_favorite_movies)

4

In [315]:
print("my_favorite_movies:",  len(my_favorite_movies))

my_favorite_movies: 4

##### You can access the elements of a list using the index of the element, starting from the index 0

In [319]:
fruits

['apple', 'berry', 'mango', 'carrot']

In [320]:
fruits[0]

'apple'

In [321]:
fruits[3]

'carrot'

In [322]:
fruits[2]

'mango'

###### if you try to access an index equal to or higher than the lenght of the list, Python returns an indexError

In [323]:
fruits[4]

IndexError: list index out of range

##### You can also access the elements of a list using the minus - index of the element. such as [ -1], it will pick the last element on the list

In [12]:
fruits

['apple', 'berry', 'mango', 'carrot']

In [325]:
fruits[-1]

'carrot'

In [326]:
fruits[-2]

'mango'

##### You can also access a range of values from the list. The result is itself a list.

In [327]:
a_list

['Hello', 23, None, ['apple', 'berry', 'mango', 'carrot'], 3.14, False, True]

In [328]:
len(a_list)

7

In [335]:
a_list[2:7]

[None, ['apple', 'berry', 'mango', 'carrot'], 3.14, False, True]

###### Note that the start index (2 in the above example) of the range is included in the list, but the end index is not included. therefore the result has 4 values(indices 2,3,4 and 5)

In [337]:
a_list[0:3]

['Hello', 23, None]


##### Here are some experiments you should try out. Try setting one or both indices of the range are larger than the size of the list. e.g
a_list[2:10]
Try setting the start index of the range to be larger than the end index of the range
Try leaving out the start or end index of a range.
Try using negative indices for the range a_list[-2:-5] or a_list[-5:-2].  Can you explain

In [339]:
a_list

['Hello', 23, None, ['apple', 'berry', 'mango', 'carrot'], 3.14, False, True]

In [338]:
a_list[2:6]

[None, ['apple', 'berry', 'mango', 'carrot'], 3.14, False]

In [346]:
a_list[7:7]

[]

In [348]:
a_list[2:11]

[None, ['apple', 'berry', 'mango', 'carrot'], 3.14, False, True]

In [349]:
a_list[7:2]

[]

In [350]:
a_list[:4]   #### this format gives output 0 - 3

['Hello', 23, None, ['apple', 'berry', 'mango', 'carrot']]

In [351]:
a_list[5:]   #### this format gives output from 5 - to the last element on the list

[False, True]

In [352]:
a_list[0:]  #### this format gives all element in the list

['Hello', 23, None, ['apple', 'berry', 'mango', 'carrot'], 3.14, False, True]

In [353]:
a_list[3:]  #### this format gives output from 3 - to the last element on the list

[['apple', 'berry', 'mango', 'carrot'], 3.14, False, True]

In [354]:
a_list[-2:-5]

[]

In [355]:
a_list[-5:-2]    #### this format gives the same output as [2:5]

[None, ['apple', 'berry', 'mango', 'carrot'], 3.14]

##### You can also change or modify the value at a specific index within a list using the assignment operation.

In [356]:
fruits

['apple', 'berry', 'mango', 'carrot']

In [357]:
fruits[1] = 'strawberry'

In [358]:
fruits

['apple', 'strawberry', 'mango', 'carrot']

In [359]:
fruits[2] = 'watermelon'

In [360]:
fruits

['apple', 'strawberry', 'watermelon', 'carrot']

##### A new value can be added to the end of a list using append method

In [361]:
fruits

['apple', 'strawberry', 'watermelon', 'carrot']

In [363]:
fruits.append('orange')

In [364]:
fruits

['apple', 'strawberry', 'watermelon', 'carrot', 'orange']

In [365]:
fruits.append('banana')

In [366]:
fruits

['apple', 'strawberry', 'watermelon', 'carrot', 'orange', 'banana']

In [367]:
cars

['civic', 'corola', 'toyota', 'bentley', 'hundai', 'chrysler']

In [368]:
cars[2] = 'masarati'

In [369]:
cars

['civic', 'corola', 'masarati', 'bentley', 'hundai', 'chrysler']

In [371]:
cars.append('nissan')

In [372]:
cars

['civic', 'corola', 'masarati', 'bentley', 'hundai', 'chrysler', 'nissan']

###### A new value or element can be inserted at a specific index using the insert method.

In [373]:
fruits

['apple', 'strawberry', 'watermelon', 'carrot', 'orange', 'banana']

In [375]:
fruits.insert(1,'mango')

In [376]:
fruits

['apple', 'mango', 'strawberry', 'watermelon', 'carrot', 'orange', 'banana']

In [377]:
fruits.insert(3,'dates')

In [378]:
fruits

['apple',
 'mango',
 'strawberry',
 'dates',
 'watermelon',
 'carrot',
 'orange',
 'banana']

##### You can remove a value or element from the list using the remove method

In [383]:
fruits

['apple',
 'mango',
 'grapes',
 'dates',
 'watermelon',
 'carrot',
 'orange',
 'banana']

In [384]:
fruits.remove('watermelon')

In [385]:
fruits

['apple', 'mango', 'grapes', 'dates', 'carrot', 'orange', 'banana']

In [386]:
cars

['civic', 'corola', 'masarati', 'bentley', 'hundai', 'chrysler', 'nissan']

In [387]:
cars.remove('chrysler')

In [388]:
cars

['civic', 'corola', 'masarati', 'bentley', 'hundai', 'nissan']

In [389]:
cars.remove(('hundai'),('nissan'))

TypeError: list.remove() takes exactly one argument (2 given)

In [390]:
cars.append(('honda'),('toyota'))

TypeError: list.append() takes exactly one argument (2 given)

##### To remove an element from a specific index, use the pop method. The method also returns the removed element

In [391]:
fruits

['apple', 'mango', 'grapes', 'dates', 'carrot', 'orange', 'banana']

In [392]:
fruits.pop(1)

'mango'

In [393]:
fruits

['apple', 'grapes', 'dates', 'carrot', 'orange', 'banana']

##### if no index is provided, the pop method remove the last elements from the list

In [396]:
fruits

['apple', 'grapes', 'dates', 'carrot', 'orange']

In [397]:
fruits.pop()

'orange'

In [398]:
fruits

['apple', 'grapes', 'dates', 'carrot']

In [399]:
cars

['civic', 'corola', 'masarati', 'bentley', 'hundai', 'nissan']

In [400]:
cars.pop(2)

'masarati'

In [401]:
cars

['civic', 'corola', 'bentley', 'hundai', 'nissan']

In [402]:
cars.pop()

'nissan'

In [403]:
cars

['civic', 'corola', 'bentley', 'hundai']

##### You can test whether a list contains a value or an element using in operator

In [404]:
cars

['civic', 'corola', 'bentley', 'hundai']

In [405]:
'corola' in cars

True

In [406]:
'Tesla' in cars

False

In [407]:
fruits

['apple', 'grapes', 'dates', 'carrot']

In [408]:
'apple' in fruits

True

In [409]:
'orange' in fruits

False

##### To combine two or more lists, use the + operator. This operation is also called concatenation

In [13]:
plenty_fruits = fruits + ['mango','banana'] + ['pear','berry']

In [416]:
plenty_fruits

['apple', 'grapes', 'dates', 'carrot', 'mango', 'banana', 'pear', 'berry']

##### To create a copy of a list, use the copy method. Modifying the copied list does not affect the original list.

In [14]:
Vegetables = plenty_fruits.copy()

In [419]:

Vegetables

['apple', 'grapes', 'dates', 'carrot', 'mango', 'banana', 'pear', 'berry']

In [18]:
plenty_fruits

['apple', 'berry', 'mango', 'carrot', 'mango', 'banana', 'pear', 'berry']

In [420]:
vegies = fruits.copy()

In [421]:
vegies

['apple', 'grapes', 'dates', 'carrot']

In [19]:
fruits

['apple', 'berry', 'mango', 'carrot']

In [15]:
inventory = cars.copy()

In [16]:
inventory

['civic', 'corola', 'toyota', 'bentley', 'hundai', 'chrysler']

In [20]:
cars

['civic', 'corola', 'toyota', 'bentley', 'hundai', 'chrysler']

##### To modify copy of a list, use the remove or pop method

In [424]:
inventory.remove('corola')

In [425]:
inventory

['civic', 'bentley', 'hundai']

In [426]:
inventory.append('Range Rover')

In [427]:
inventory

['civic', 'bentley', 'hundai', 'Range Rover']

In [428]:
inventory[2] = 'lexus'

In [429]:
inventory

['civic', 'bentley', 'lexus', 'Range Rover']

In [431]:
Vegetables

['apple', 'grapes', 'dates', 'carrot', 'mango', 'banana', 'pear', 'berry']

In [436]:
Vegetables.pop('mango')

TypeError: 'str' object cannot be interpreted as an integer

In [437]:
Vegetables.pop(4)

'mango'

In [438]:
Vegetables

['apple', 'grapes', 'dates', 'carrot', 'banana', 'pear', 'berry']

In [17]:
cars

['civic', 'corola', 'toyota', 'bentley', 'hundai', 'chrysler']

##### Note that you cannot create a copy of a list by simply creating a new variable using the assign operator = . The new variable will point to the same list and any modifications performed using one varible will affect the other.

###### Exercises
1. Reverse the order of elements in a list
2. Add the elements of one list to the end of another list
3. Sort a list of strings in alphabetical order
4. Sort a list of numbers in decreasing order

In [21]:
cars

['civic', 'corola', 'toyota', 'bentley', 'hundai', 'chrysler']

In [22]:
cars.reverse()

In [23]:
cars

['chrysler', 'hundai', 'bentley', 'toyota', 'corola', 'civic']

#####  Add the elements of one list to the end of another list

In [26]:
plenty_fruits

['apple', 'berry', 'mango', 'carrot', 'mango', 'banana', 'pear', 'berry']

In [28]:
cars.append('berry')

In [29]:
cars

['chrysler',
 'hundai',
 'bentley',
 'toyota',
 'corola',
 'civic',
 'berry',
 'berry']

##### Sort a list of strings in alphabetical order

In [30]:
friend_list =['james','kunle','sahid','rashid','lanre','kafayat','sarah','vic']

In [31]:
friend_list

['james', 'kunle', 'sahid', 'rashid', 'lanre', 'kafayat', 'sarah', 'vic']

In [33]:
friend_list.sort()

In [34]:
friend_list

['james', 'kafayat', 'kunle', 'lanre', 'rashid', 'sahid', 'sarah', 'vic']

##### Sort a list of numbers in decreasing order

In [35]:
number_list = [1,2,3,4,5,6,7,8,9]

In [36]:
number_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
number_list.reverse()

In [43]:
number_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

###### Tuple is an ordered collection of values similar to a list, however it is not possible to add,remove or modify values in a tuple. A tuple is created by enclosing values within parentheses ( ) and seperated by commas.
Any data structure that cannot be modified after creation is called immutable. You can think of tuples as immutable lists.

In [44]:
smoothy = ('berry','cherry','mango','apple')

In [45]:
smoothy

('berry', 'cherry', 'mango', 'apple')

In [46]:
len(smoothy)

4

In [47]:
smoothy[0]

'berry'

In [48]:
smoothy[-2]

'mango'

In [49]:
'carrot' in smoothy

False

In [50]:
'berry' in smoothy

True

In [51]:
smoothy[1] = 'grapes'

TypeError: 'tuple' object does not support item assignment

In [52]:
smoothy

('berry', 'cherry', 'mango', 'apple')

In [53]:
smoothy.append(watermelon)

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
smoothy.remove('cherry')

AttributeError: 'tuple' object has no attribute 'remove'

In [55]:
smoothy.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [56]:
smoothy.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

###### tuple used parenthesis ( ) to assign and any modification to the index or element in the variables not allow.
###### list give access to modification used [ ] to assign values into variable.

##### You can also skip parenthesis ( ) while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [57]:
laban_milk = 'dairy','coast','tuna','peak'

In [58]:
laban_milk

('dairy', 'coast', 'tuna', 'peak')

##### You can also create a tuple with just one element if you include a comma after the element. Note just wrapping element with parenthesis ( ) won't create a tuple.

In [59]:
iron_man = 4,

In [60]:
iron_man

(4,)

In [61]:
black_pantha = (5,)

In [62]:
black_pantha

(5,)

##### Tuples are often used to create multiple variables with a single statement.

In [63]:
points = (4,6)

In [64]:
point_x,point_y = points

In [65]:
point_x

4

In [66]:
point_y

6

In [71]:
axese = (3,4)

In [72]:
y_axis,x_axis = axese

In [73]:
y_axis

3

In [74]:
x_axis

4

In [84]:
length = (4,5)

In [85]:
a_horizontal,b_vertical = length

In [86]:
a_horizontal

4

In [87]:
b_vertical

5

##### You can convert a list into a tuple using the tuple function and vice versa using the list function

In [88]:
smoothy

('berry', 'cherry', 'mango', 'apple')

In [ ]:
##### convert to list note that it will not affect the original list.

In [90]:
list(('berry','cherry','mango','apple'))

['berry', 'cherry', 'mango', 'apple']

In [91]:
smoothy

('berry', 'cherry', 'mango', 'apple')

In [92]:
cars

['chrysler',
 'hundai',
 'bentley',
 'toyota',
 'corola',
 'civic',
 'berry',
 'berry']

In [93]:
cars.remove('chrysler')

In [94]:
cars

['hundai', 'bentley', 'toyota', 'corola', 'civic', 'berry', 'berry']

##### To convert list into tuple. note that it does not affect the original list

In [95]:
cars

['hundai', 'bentley', 'toyota', 'corola', 'civic', 'berry', 'berry']

In [96]:
tuple(['hundai','bentley','toyota','corola','civic','berry','berry'])

('hundai', 'bentley', 'toyota', 'corola', 'civic', 'berry', 'berry')

In [97]:
cars

['hundai', 'bentley', 'toyota', 'corola', 'civic', 'berry', 'berry']

##### Tuples have 2 built-in methods: count and index. there is an easier way to look for documentation method using the help function.

In [98]:
a_tuple = (23,"Hello",False,None,True,"Global",'timber',34,3.4)

In [99]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

##### Within a jupyter notebook, you can also start a code cell with ? and type the name of a function or method. When you execute this cell, you will see the documentation for the function/method in a pop-up window.

In [100]:
?a_tuple.index

##### A dictionary is unordered collection of items. Each item stored in a dictionary has a key and value. Keys are used to retrieve values from the dictionary. Dictionaries have the type dict.
Dictionaries are often used to store many pieces of information e.g details about a person in a single variable. Dictionaries are created by enclosing key-value pairs within curly brackets { }

In [160]:
Employee1 = {'Salary code':'Z5070',
             'Gender':'Female',
             'DOJ':'13-01-2015',
             'Dept':'Logistics',
             'Salary':'5000 dirahm',
             'Transport':'N/A',
             'Accomodation':'Leaving outside'

}

In [161]:
Employee1

{'Salary code': 'Z5070',
 'Gender': 'Female',
 'DOJ': '13-01-2015',
 'Dept': 'Logistics',
 'Salary': '5000 dirahm',
 'Transport': 'N/A',
 'Accomodation': 'Leaving outside'}

In [117]:
child1 = {'Name':'Abdulrahman',
           'Date of birth':'10th of March',
           'Place of birth':'Dubai',
           'Gender':'Male',
           'Place of Origin':'France',
           'Level of education':'Grade2'
    
}

In [118]:
child1

{'Name': 'Abdulrahman',
 'Date of birth': '10th of March',
 'Place of birth': 'Dubai',
 'Gender': 'Male',
 'Place of Origin': 'France',
 'Level of education': 'Grade2'}

##### Dictionaries can also be created using the dict function and =

In [134]:
child2 = dict(name='aiza',gender='female',age=5,place_of_birth='dubai',origin='france')

In [135]:
child2

{'name': 'aiza',
 'gender': 'female',
 'age': 5,
 'place_of_birth': 'dubai',
 'origin': 'france'}

In [136]:
type(child2)

dict

###### keys can be used to access values using squre brackest [ ]

In [162]:
Employee1['Salary code']

'Z5070'

In [139]:
child1['Name']

'Abdulrahman'

In [140]:
child2['gender']

'female'

In [163]:
Employee1['Dept']

'Logistics'

In [165]:
Employee1['DOJ']

'13-01-2015'

#### The get method can also be used to access value associated with a key

In [143]:
child2.get('age')

5

In [148]:
child1.get("Name")

'Abdulrahman'

##### The get method also accepts a default value which is returned if the key is not present in the dictionary

In [149]:
child2.get("height","unknown")

'unknown'

###### You can check wether a key is present in the dictionary by using .in. method

In [151]:
'weight' in child1

False

In [152]:
'age' in child2

True

In [154]:
'Name' in Employee1

False

###### You can change the value associated with a key using the assignment operator

In [155]:
Employee1 = ['married']

In [156]:
Employee1

['married']

In [157]:
Employee1.remove('married')

In [158]:
Employee1

[]

In [166]:
Employee1['Salary code']

'Z5070'

In [167]:
Employee1

{'Salary code': 'Z5070',
 'Gender': 'Female',
 'DOJ': '13-01-2015',
 'Dept': 'Logistics',
 'Salary': '5000 dirahm',
 'Transport': 'N/A',
 'Accomodation': 'Leaving outside'}

#### You can change the value associated with a key using the assignment operator

In [188]:
staff_1 = dict(name='james',gender='male',age=30,married='False',address='True')

In [189]:
staff_1

{'name': 'james',
 'gender': 'male',
 'age': 30,
 'married': 'False',
 'address': 'True'}

In [190]:
staff_1['married']

'False'

In [191]:
staff_1['married'] = True

In [184]:
staff_1

{'name': 'james', 'age': 30, 'married': True, 'address': '13B,Rashidiya'}

##### The assignment operator can also be used to add new key-value pairs to the dictionary.

In [192]:
staff_1['address']

'True'

In [193]:
staff_1['address'] ='13B,Rashidiya'

In [194]:
staff_1

{'name': 'james',
 'gender': 'male',
 'age': 30,
 'married': True,
 'address': '13B,Rashidiya'}

##### To remove a key and the associated value from a dictionary, use the pop method.

In [195]:
staff_1.pop('gender')

'male'

In [196]:
staff_1

{'name': 'james', 'age': 30, 'married': True, 'address': '13B,Rashidiya'}

###### Dictionaries also provide methods to view the list of keys, values or key-value pairs inside it.

In [198]:
child1.keys()

dict_keys(['Name', 'Date of birth', 'Place of birth', 'Gender', 'Place of Origin', 'Level of education'])

In [199]:
child2.keys()

dict_keys(['name', 'gender', 'age', 'place_of_birth', 'origin'])

In [200]:
Employee1.keys()

dict_keys(['Salary code', 'Gender', 'DOJ', 'Dept', 'Salary', 'Transport', 'Accomodation'])

In [201]:
child1.values()

dict_values(['Abdulrahman', '10th of March', 'Dubai', 'Male', 'France', 'Grade2'])

In [202]:
child2.values()

dict_values(['aiza', 'female', 5, 'dubai', 'france'])

In [204]:
staff_1.values()

dict_values(['james', 30, True, '13B,Rashidiya'])

In [205]:
staff_1.keys()

dict_keys(['name', 'age', 'married', 'address'])

In [206]:
staff_1.items()

dict_items([('name', 'james'), ('age', 30), ('married', True), ('address', '13B,Rashidiya')])

##### The result of the keys. values or items look like lists but don't seem to support the indexing operator [ ] for retreiving elements.
Figure out how to access an element at a specific index from these results. hint use the list function.

In [208]:
staff_1.items()[1]

TypeError: 'dict_items' object is not subscriptable

In [236]:
staff_1.lists()

AttributeError: 'dict' object has no attribute 'lists'

In [ ]:
###### Dictionaries provide many other methods.
Here are some experiments you can try out with dictionaries
1. What happens if you use the same key multiple times while creating a dictionary?
2. How can you create a copy of a dictionary(modifying copy should not change the original)
3. Can the value associated with a key itself be a dictionary
4. How can you add the key value pairs from one dictionary into another dictionary? Hint: see the update method
5. Can the keys of a dictionary be something other than a stringe eg. number, boolean, list

In [213]:
fantasy = {'Name':'james',
           'gender':'male',
           'DOB':'10th_of_march',
           'married':'false',
           'address':'lagos'
    
    
    
    
    
    
}

In [214]:
fantasy

{'Name': 'james',
 'gender': 'male',
 'DOB': '10th_of_march',
 'married': 'false',
 'address': 'lagos'}

In [215]:
fantasy.keys()

dict_keys(['Name', 'gender', 'DOB', 'married', 'address'])

In [216]:
fantasy.values()

dict_values(['james', 'male', '10th_of_march', 'false', 'lagos'])

In [217]:
fantasy.items()

dict_items([('Name', 'james'), ('gender', 'male'), ('DOB', '10th_of_march'), ('married', 'false'), ('address', 'lagos')])

In [218]:
employee_name = dict(name='jack',age=31, name='janet', age=32, name='joy', age=53)

SyntaxError: keyword argument repeated: name (2265414037.py, line 1)

In [219]:
luxury = fantasy.copy()

In [220]:
luxury

{'Name': 'james',
 'gender': 'male',
 'DOB': '10th_of_march',
 'married': 'false',
 'address': 'lagos'}

In [223]:
fantasy

{'Name': 'james',
 'gender': 'male',
 'DOB': '10th_of_march',
 'married': 'false',
 'address': 'lagos'}

In [224]:
'gender' in fantasy

True

In [225]:
luxury

{'Name': 'james',
 'gender': 'male',
 'DOB': '10th_of_march',
 'married': 'false',
 'address': 'lagos'}

In [228]:
luxury.pop('DOB')

'10th_of_march'

In [229]:
luxury

{'Name': 'james', 'gender': 'male', 'married': 'false', 'address': 'lagos'}

In [232]:
luxury['address'] = '35, obalende'

In [233]:
luxury

{'Name': 'james',
 'gender': 'male',
 'married': 'false',
 'address': '35, obalende'}

In [234]:
fantasy

{'Name': 'james',
 'gender': 'male',
 'DOB': '10th_of_march',
 'married': 'false',
 'address': 'lagos'}

#####  Can the value associated with a key itself be a dictionary

In [239]:
expo_2020 = dict(pavilion= dict('loby'), arena='dict2', mega='dict3')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

##### How can you add the key value pairs from one dictionary into another dictionary? Hint: see the update method

In [240]:
fantasy

{'Name': 'james',
 'gender': 'male',
 'DOB': '10th_of_march',
 'married': 'false',
 'address': 'lagos'}

In [241]:
luxury

{'Name': 'james',
 'gender': 'male',
 'married': 'false',
 'address': '35, obalende'}

In [253]:
fantasy.update['address']= ('lagos', '35, obalende')

TypeError: 'builtin_function_or_method' object does not support item assignment

##### Can the keys of a dictionary be something other than a string such as number, boolean, list

In [254]:
expo_2021 = dict(1='jug', 2='cup')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3989883750.py, line 1)